<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="alta-usuario-app">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="card">
      <h2 align="center">Alta usuario</h2>
      <div class="form-group">
        <label for="first_name">Nombre:</label>
        <input type="text" class="form-control" id="first_name" value="{{first_name::input}}">
      </div>
      <div class="form-group">
        <label for="last_name">Apellidos:</label>
        <input type="text" class="form-control" id="last_name" value="{{last_name::input}}">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" value="{{email::input}}">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" value="{{password::input}}">
      </div>
      <div class="form-group">
        <label for="amount">Importe a ingresar:</label>
        <input type="text" class="form-control" id="amount" value="{{amount::input}}">
      </div>
      <div class="form-group" align="center">
        <button class="btn btn-primary" on-click="alta">Alta</button>
      </div>
      </br>
      <span hidden$="{{!loggederr}}">Error en alta usuario</span>
    </div>
    <iron-ajax
      id="doalta"
      method="POST"
      url="http://samplebankbackaltausuario-samplebank.7e14.starter-us-west-2.openshiftapps.com/samplebank/v1/newuser"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     console.log('Enrto en el js');

    class altaUsuarioApp extends Polymer.Element {
      static get is() { return 'alta-usuario-app'; }
      static get properties() {
        return {
          email: {
            type: String},
          password: {
            type: String},
          loggederr: {
            type: Boolean,
            value: false},
          lastName: {
            type: String},
          firstName:{
            type: String}
          }
          }


        alta(){
        console.log("Botón alta pulsado")
        var altaData = {
            "first_name": this.first_name,
            "last_name": this.last_name,
            "email": this.email,
            "password": this.password,
            "amount": this.amount
        };

          this.$.doalta.body = JSON.stringify(altaData);
          this.$.doalta.generateRequest();
          console.log("Petición enviada");
        }
        manageAJAXResponse(data){
          console.log("Respuesta recibida");
          console.log(data.detail.response);
          this.logged = true;
          this.loggederr = false;
          this.first_name = "";
          this.last_name = "";
          this.email = "";
          this.password = "";
          this.amount = "";
          this.loggederr = false;
          this.dispatchEvent(new CustomEvent("logincorrecto", {"detail":{"user_id":data.detail.response.user_id,
                                                                   "user_id_aux":data.detail.response.user_id,
                                                                   "first_name":data.detail.response.first_name,
                                                                   "last_name":data.detail.response.last_name}}));
        }
        showError(error){
          console.log("Hubo un error ");
          console.log(error);
          this.logged = false;
          this.loggederr = true;
        }
    }

    window.customElements.define(altaUsuarioApp.is, altaUsuarioApp);
  </script>
</dom-module>
