<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-icons/image-icons.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="alta-usuario-app.html">
<link rel="lazy-import" href="login-app.html">
<link rel="lazy-import" href="logout-app.html">
<link rel="lazy-import" href="cuenta-usuario-app.html">
<link rel="lazy-import" href="alta-cuenta-app.html">
<link rel="lazy-import" href="my-view404.html">
<link rel="lazy-import" href="my-tiempo-app.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }
      app-header a {
        color: white;
      }
      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer  id="drawer" slot="drawer" swipe-open="[[narrow]]">
         <app-toolbar>Menu</app-toolbar>
         <iron-selector hidden$={{!Registrado}} selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
           <a name="logout-app" href="[[rootPath]]logout-app">Cerrar sesión</a>
           <a name="cuenta-usuario-app" href="[[rootPath]]cuenta-usuario-app">Cuentas</a>
           <a name="alta-cuenta-app" href="[[rootPath]]alta-cuenta-app">Nueva Cuenta</a>
         </iron-selector>
         <iron-selector hidden$={{Registrado}} selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
           <a name="alta-usuario-app" href="[[rootPath]]alta-usuario-app">Hazte cliente</a>
           <a name="login-app" href="[[rootPath]]login-app">Entrar</a>
         </iron-selector>
       </app-drawer>

       <!-- Main content -->
        <app-header-layout has-scrolling-region>
          <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Sample Bank</div>
            <a hidden$="{{Registrado}}" name="tiempo-app" href="[[rootPath]]tiempo-app"><paper-icon-button icon="image:wb-cloudy"></paper-icon-button></a>
            <a hidden$="{{Registrado}}" name="alta-usuario-app" href="[[rootPath]]alta-usuario-app"><paper-icon-button icon="social:person-add"></paper-icon-button></a>
            <a hidden$="{{Registrado}}" name="login-app" href="[[rootPath]]login-app"><paper-icon-button icon="social:person"></paper-icon-button></a>
            <a hidden$="{{!Registrado}}" name="logout-app" href="[[rootPath]]logout-app"><paper-icon-button icon="icons:power-settings-new"></paper-icon-button></a>
            <a hidden$="{{!Registrado}}" name="cuenta-usuario-app" href="[[rootPath]]cuenta-usuario-app"><paper-icon-button icon="icons:account-balance"></paper-icon-button></a>
            <a hidden$="{{!Registrado}}" name="alta-cuenta-app" href="[[rootPath]]alta-cuenta-app"><paper-icon-button icon="icons:add"></paper-icon-button></a>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <alta-usuario-app name="alta-usuario-app" on-logincorrecto="lanzoCuentas"></alta-usuario-app>
          <login-app name="login-app" on-logincorrecto="lanzoCuentas"></login-app>
          <logout-app name="logout-app" user_id={{user_id}} user_id_aux={{user_id_aux}} first_name={{first_name}} last_name={{last_name}} Registrado={{Registrado}} on-volverainicio="lanzoInicio"></logout-app>
          <cuenta-usuario-app name="cuenta-usuario-app" user_id={{user_id}} user_id_aux={{user_id_aux}} first_name={{first_name}} last_name={{last_name}} on-emovimientos="lanzoMovimientos"></cuenta-usuario-app>
          <movimiento-cuenta-app name="movimiento-cuenta-app" account_id={{account_id}} account_id_aux={{account_id_aux}} user_id={{user_id}} user_id_aux={{user_id_aux}} on-ealtatransferencia="lanzoAltaTransferencia" on-ealtamovimiento="lanzoAltaMovimiento" on-volvercuenta="lanzoCuentas2"></movimiento-cuenta-app>
          <alta-movimiento-app name="alta-movimiento-app" account_id={{account_id}} account_id_aux={{account_id_aux}} user_id_aux={{user_id_aux}} user_id={{user_id}} on-emovimientos2="lanzoMovimientos"></alta-movimiento-app>
          <alta-transferencia-app name="alta-transferencia-app" account_id={{account_id}} account_id_aux={{account_id_aux}} user_id_aux={{user_id_aux}} user_id={{user_id}} on-emovimientos2="lanzoMovimientos"></alta-transferencia-app>
          <alta-cuenta-app name="alta-cuenta-app" user_id={{user_id}} user_id_aux={{user_id_aux}} on-volvercuenta2="lanzoCuentas2"></alta-cuenta-app>
          <my-view404 name="view404"></my-view404>
          <my-view1 name="view1"></my-view1>
          <tiempo-app name="tiempo-app"></tiempo-app>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          Registrado: {
            type: Boolean,
            value: false
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String
        };
      }


      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'view1';

        // Close a non-persistent drawer when the page & route are changed.
    /*    if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }*/
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }

      lanzoCuentas(e) {
            console.log("lanzoCuentas");
            console.log("this.Registrado " + this.Registrado);
            this.user_id_aux = e.detail.user_id_aux;
            this.user_id = e.detail.user_id;
            this.last_name = e.detail.last_name;
            this.first_name = e.detail.first_name;
            this.Registrado = true;
            this.page = "cuenta-usuario-app";
          }

          lanzoCuentas2(e) {
                console.log("lanzoCuentas2");
                console.log("this.Registrado " + this.Registrado);
                this.user_id_aux = e.detail.user_id_aux;
                this.user_id = e.detail.user_id;
                console.log('this.user_id ' + this.user_id);
                console.log('this.user_id_aux ' + this.user_id_aux);
                this.page = "cuenta-usuario-app";
              }

      lanzoMovimientos(e) {
            console.log("lanzoMovimientos");
            this.account_id = e.detail.account_id;
            this.account_id_aux = e.detail.account_id_aux;
            this.user_id_aux = e.detail.user_id_aux;
            this.user_id = e.detail.user_id;
            console.log('account_id de lanzo movimientos: ' + this.account_id);
            console.log('account_id_aux de lanzo movimientos ' + this.account_id_aux);
            console.log('user_id_aux de lanzo movimientos ' + this.user_id_aux);
            console.log('user_id de lanzo movimientos ' + this.user_id);
            this.page = "movimiento-cuenta-app";
          }
      lanzoAltaMovimiento(e) {
            console.log("lanzoAltaMovimiento");
            this.account_id = e.detail.account_id_aux;
            this.account_id_aux = e.detail.account_id_aux;
            this.user_id_aux = ++e.detail.user_id_aux;
            this.user_id = e.detail.user_id;
            console.log('account_id de lanzo alta movimientos: ' + this.account_id);
            console.log('account_id_aux de lanzo alta movimientos ' + this.account_id_aux);
            console.log('user_id_aux de lanzo alta movimientos ' + this.user_id_aux);
            console.log('user_id de lanzo movimientos ' + this.user_id);
            this.page = "alta-movimiento-app";
      }
      lanzoAltaTransferencia(e) {
            console.log("lanzoAltaTransferencia");
            this.account_id = e.detail.account_id_aux;
            this.account_id_aux = e.detail.account_id_aux;
            this.user_id_aux = ++e.detail.user_id_aux;
            this.user_id = e.detail.user_id;
            console.log('account_id de lanzo alta transferencia: ' + this.account_id);
            console.log('account_id_aux de lanzo alta transferencia ' + this.account_id_aux);
            console.log('user_id_aux de lanzo alta transferencia ' + this.user_id_aux);
            console.log('user_id de lanzo transferencia ' + this.user_id);
            this.page = "alta-transferencia-app";
      }
      lanzoInicio(e) {
            console.log("lanzo inicio");
            this.Registrado = false;
            this.page = "view1";
      }
    }



    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
