<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="alta-transferencia-app">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <iron-ajax
      id="doaltaTrx"
      method="POST"
      url="http://samplebankbackaltamovimiento-samplebank.7e14.starter-us-west-2.openshiftapps.com/samplebank/v2/account/movements"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>
    <iron-ajax
      id="dorecTrx"
      method="POST"
      url="http://samplebankbackaltamovimiento-samplebank.7e14.starter-us-west-2.openshiftapps.com/samplebank/v2/account/movements"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse2"
      on-error="showError">
    </iron-ajax>
    <div class="card">
      <h2 align="center">Alta Transferencia</h2>
      <div class="form-group">
        <label for="amount">Importe:</label>
        <input type="text" class="form-control" id="amount" value="{{amount::input}}">
      </div>
      <div class="form-group">
        <label for="destination-account">Cuenta destino (IBAN):</label>
        <input type="text" class="form-control" id="destinantion-account" value="{{id_destination_account::input}}">
      </div>
      <div class="form-group" align="center">
        <button type="button" class="btn btn-primary" on-click="altaTrx">Realizar Operación</button>
      </div>
      <span hidden$="{{!altaerr}}">Error en alta de transferencia</span>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     console.log('Enrto en alta transferencia');


    class altaTrximientoApp extends Polymer.Element {
      static get is() { return 'alta-transferencia-app'; }
      static get properties() {
        return {
          account_id: {
            type: Number},
          account_id_aux:{
            type: Number},
          user_id_aux:{
            type: Number},
          altaerr: {
            type: Boolean,
            value: false},
          }
          }


        altaTrx(){
        console.log("Botón altaTrx pulsado")
        var altaTrxData = {
            "account_id": this.account_id,
            "value_date": new Date(),
            "movement_type": "5",
            "amount": this.amount,
            "id_destination_account": this.id_destination_account
        };

          console.log("altaTrxData.account_id " + altaTrxData.account_id);
          console.log("altaTrxData.value_date " + altaTrxData.value_date);
          console.log("altaTrxData.movement_type " + altaTrxData.movement_type);
          console.log("altaTrxData.amount " + altaTrxData.amount);
          console.log("altaTrxData.id_destination_account " + altaTrxData.id_destination_account);
          this.$.doaltaTrx.body = JSON.stringify(altaTrxData);
          console.log("this.$.doaltaTrx.body" + this.$.doaltaTrx.body);
          this.$.doaltaTrx.generateRequest();
          console.log("Petición enviada");
        }

        manageAJAXResponse(data){
          console.log("Respuesta recibida");
          console.log(data.detail.response);
          var iban_aux = this.id_destination_account.substring(20);
          console.log("iban_aux " + iban_aux);
          var id_destination_aux = Number(iban_aux);
          console.log("id_destination_aux" + id_destination_aux);
          var recTrxData = {
              "account_id": id_destination_aux,
              "value_date": new Date(),
              "movement_type": "6",
              "amount": this.amount,
              "id_destination_account": ""
          };

            console.log("recTrxData.account_id " + recTrxData.account_id);
            console.log("recTrxData.value_date " + recTrxData.value_date);
            console.log("recTrxData.movement_type " + recTrxData.movement_type);
            console.log("recTrxData.amount " + recTrxData.amount);
            console.log("recTrxData.id_destination_account " + recTrxData.id_destination_account);
            this.$.dorecTrx.body = JSON.stringify(recTrxData);
            console.log("this.$.dorecTrx.body" + this.$.dorecTrx.body);
            this.$.dorecTrx.generateRequest();
            console.log("Petición enviada");
          }
        manageAJAXResponse2(data){
          this.ataerr = false;
          ++ this.account_id_aux;
          this.amount = "";
          this.id_destination_account = "";
          this.alta=false;
          this.dispatchEvent(new CustomEvent("emovimientos2", {"detail":{"account_id": this.account_id,
                                                                      "account_id_aux": this.account_id_aux,
                                                                      "user_id_aux": this.user_id_aux,
                                                                      "user_id": this.user_id
                                                                    }}))
        }
        showError(error){
          console.log("Hubo un error ");
          console.log(error);
          this.altaerr = true;
        }

    }

    window.customElements.define(altaTrximientoApp.is, altaTrximientoApp);
  </script>
</dom-module>
