<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="alta-cuenta-app">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="card">
      <h2 align="center">Alta cuenta</h2>
      <div class="form-group">
        <label for="amount">Importe a ingresar:</label>
        <input type="text" class="form-control" id="amount" value="{{initAmount::input}}">
      </div>
      <div class="form-group" align="center">
        <button class="btn btn-primary" on-click="doaltaCuenta">Alta cuenta</button>
        <button class="btn btn-secondary" on-click="volverCuentas">Volver</button>
      </div>
      <br></br>
      <span hidden$="{{!correcto}}">Alta cuenta correcta con código IBAN: {{iban}}</span>
      <span hidden$="{{!incorrecto}}">Error al buscar cuentas del usuario</span>
    </div>
    <iron-ajax
      id="hacerAltaCuenta"
      method="POST"
      url="http://samplebankbackaltacuenta-samplebank.7e14.starter-us-west-2.openshiftapps.com/samplebank/v2/account/{{user_id}}"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     console.log('Entro en alta cuentas usuario');

    class altaCuenta extends Polymer.Element {
      static get is() { return 'alta-cuenta-app'; }
      static get properties() {
        return {
          incorrecto: {
            type: Boolean,
            value: false},
          correcto: {
            type: Boolean,
            value: false},
          iban: {
            type: String}
          }
          }


        doaltaCuenta(){
          console.log("Botón cuentas pulsado")
          var cuentasData = {
              "amount": this.initAmount
          };
          this.$.hacerAltaCuenta.body = JSON.stringify(cuentasData);
          this.$.hacerAltaCuenta.generateRequest();
          console.log("Petición enviada");
        }
        manageAJAXResponse(data){
          console.log("Respuesta recibida");
          console.log(data.detail.response);
          this.correcto = true;
          this.iban = data.detail.response.iban;
        }
        showError(error){
          console.log("Hubo un error ");
          console.log(error);
          this.incorrecto = true;
        }
        volverCuentas(){
          ++ this.user_id_aux;
          this.initAmount = "";
          this.correcto = false;
          this.dispatchEvent(new CustomEvent("volvercuenta2", {"detail":{"user_id_aux": this.user_id_aux,
                                                                      "user_id" : this.user_id
                                                                    }}))

        }
    }

    window.customElements.define(altaCuenta.is, altaCuenta);
  </script>
</dom-module>
