<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="alta-movimiento-app">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="card">
      <h2 align="center">Alta movimiento</h2>
    <!--  <input type="movement_type" placeholder="movement_type" value="{{movement_type::input}}"/>    -->
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Elige tipo de movimiento</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="movement_type" value="{{movement_type::input}}">
          <option value="1">Ingreso de cuenta</option>
          <option value="2">Ingreso nómina</option>
          <option value="3">Retirada en efectivo</option>
          <option value="4">Adeudo</option>
        </select>
      </div>
      <div class="form-group">
        <label for="amount">Importe:</label>
        <input type="text" class="form-control" id="amount" value="{{amount::input}}">
      </div>
      <div class="form-group" align="center">
        <button type="button" class="btn btn-primary" on-click="altaMov">Realizar Operación</button>
      </div>
      <span hidden$="{{!altaerr}}">Error en alta de movimiento</span>
    </div>
    <iron-ajax
      id="doaltaMov"
      method="POST"
      url="http://samplebankbackaltamovimiento-samplebank.7e14.starter-us-west-2.openshiftapps.com/samplebank/v2/account/movements"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     console.log('Enrto en alta movimiento');

    class altaMovimientoApp extends Polymer.Element {
      static get is() { return 'alta-movimiento-app'; }
      static get properties() {
        return {
          account_id: {
            type: Number},
          user_id_aux: {
            type: Number},
          altaerr: {
            type: Boolean,
            value: false},
          }
          }


        altaMov(){
        console.log("Botón altaMov pulsado")
        if (this.movement_type == undefined){
          this.movement_type = "1";
        }
        var altaMovData = {
            "account_id": this.account_id,
            "value_date": new Date(),
            "movement_type": this.movement_type,
            "amount": this.amount,
            "id_destination_account": " "
        };

          console.log("altaMovData.account_id " + altaMovData.account_id);
          console.log("altaMovData.value_date " + altaMovData.value_date);
          console.log("altaMovData.movement_type " + altaMovData.movement_type);
          console.log("altaMovData.amount " + altaMovData.amount);
          console.log("altaMovData.id_destination_account " + altaMovData.id_destination_account);
          this.$.doaltaMov.body = JSON.stringify(altaMovData);
      //    this.$.doaltaMov.body = altaMovData;
          console.log("this.$.doaltaMov.body" + this.$.doaltaMov.body);
          this.$.doaltaMov.generateRequest();
          console.log("Petición enviada");
        }
        manageAJAXResponse(data){
          console.log("Respuesta recibida");
          console.log(data.detail.response);
          this.altaerr = false;
          ++ this.account_id_aux;
          this.amount="";
          this.movement_type="1";
          this.dispatchEvent(new CustomEvent("emovimientos2", {"detail":{"account_id": this.account_id,
                                                                      "account_id_aux": this.account_id_aux,
                                                                      "user_id_aux": this.user_id_aux,
                                                                      "user_id" : this.user_id
                                                                    }}))
          }
        showError(error){
          console.log("Hubo un error ");
          console.log(error);
          this.altaerr = true;
        }
    }

    window.customElements.define(altaMovimientoApp.is, altaMovimientoApp);
  </script>
</dom-module>
