<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="cuenta-usuario-app">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="card" align="center">
      <h2>Bienvenido {{first_name}} {{last_name}}</h2>
      </br>
      <table class="table">
        <thead>
          <th>IBAN</th>
          <th>SALDO</th>
          <th></th>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{accounts}}">
            <tr>
              <td>{{item.iban}}</td>
              <td align="right">{{item.balance}}</td>
              <td><a class="btn btn-primary" href="[[rootPath]]movimiento-cuenta-app" on-click="buscarMovimientos" data-iban$="{{item.iban}}">Movimientos</a></td>
            </tr>
          </template>
        </tbody>
      </table>
      <span hidden$="{{!incorrecto}}">Error al buscar cuentas del usuario</span>
    </div>
    <iron-ajax
      id="docuentas"
      method="GET"
      url="http://samplebankbackconsultacuenta-samplebank.7e14.starter-us-west-2.openshiftapps.com/samplebank/v1/account/{{user_id}}"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     console.log('Entro en cuentas usuario');


    class cuentasApp extends Polymer.Element {
      static get is() { return 'cuenta-usuario-app'; }
      static get properties() {
        return {
          user_id: {
            type: Number,
            observer: '_user_idChanged'},
          user_id_aux: {
            type: Number,
            observer: '_user_id_auxChanged'},
          incorrecto: {
            type: Boolean,
            value: false},
          accounts: {
            type: Array}
          }
          }

        manageAJAXResponse(data){
          console.log("Respuesta recibida");
          console.log(data.detail.response);
          console.log("data.detail.response.length " + data.detail.response.length);
          this.incorrecto = false;
          var importeFormato = 0;
          for (var i=0; i <data.detail.response.length;i++){
            importeFormato = data.detail.response[i].balance.toLocaleString('es-ES', {minimumFractionDigits: 2});
            data.detail.response[i].balance = importeFormato;
          }
          this.accounts = data.detail.response;
        }
        showError(error){
          console.log("Hubo un error ");
          console.log(error);
          this.incorrecto = true;
        }
        _user_idChanged(newValue, oldValue) {
        console.log("Cmambio user_id");
        console.log("newValue " + newValue + ". oldValue" + oldValue);
        console.log('user_id_aux: ' + this.user_id_aux);
        this.user_id = newValue;
        this.accounts = null;
        console.log("user_id " + this.user_id);
        this.$.docuentas.headers.user_id = this.user_id;
        this.$.docuentas.generateRequest();
        }
        _user_id_auxChanged(newValue, oldValue) {
        console.log('Refresco cuentas');
        this.$.docuentas.generateRequest();
        }
        buscarMovimientos(event) {
        console.log("Buscar Movimientos");
        var account_id_ax2 = event.target.dataset.iban;
        console.log('account_id_ax2 ' + account_id_ax2);
        var account_id_ax3 = account_id_ax2.substring(20,24);
        console.log('account_id_ax3 ' + account_id_ax3);
        var account_id_aux = Number(account_id_ax3);
        console.log('account_id_aux ' + account_id_aux);
        console.log('user_id_aux: ' + this.user_id_aux);
        console.log('user_id ' + this.user_id);
        this.dispatchEvent(new CustomEvent("emovimientos", {"detail":{"account_id": account_id_aux,
                                                                    "account_id_aux": account_id_aux,
                                                                    "user_id_aux": this.user_id_aux,
                                                                    "user_id" : this.user_id
                                                                  }}))
      }
    }

    window.customElements.define(cuentasApp.is, cuentasApp);
  </script>
</dom-module>
