<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="logout-app">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="card" align="center">
      <h2 hidden$="{{!correcto}}">¡¡¡Hasta pronto {{first_name}} {{last_name}}!!!</h2>
      <h2 hidden$="{{!incorrecto}}">Error haciendo logout</h2>
      <div class="form-group" align="center">
        <button class="btn btn-primary" on-click="volverInicio">Volver</button>
      </div>
    </div>
    <iron-ajax
      id="dologout"
      method="POST"
      url="http://samplebankbacklogout-samplebank.7e14.starter-us-west-2.openshiftapps.com/samplebank/v1/logout/"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     console.log('Entro en el js');
     console.log('this.user_id ' + this.user_id);
     console.log('this.user_id_aux' + this.user_id_aux);
     console.log('first_name ' + this.first_name);
     console.log('last_name ' + this.last_name);

    class logoutApp extends Polymer.Element {
      static get is() { return 'logout-app'; }
      static get properties() {
        return {
          user_id: {
            type: Number,
            observer: '_user_idChanged'},
          user_id_aux: {
            type: Number},
          first_name: {
            type: String},
          last_name: {
            type: String},
          correcto: {
            type: Boolean,
            value: false},
          incorrecto: {
            type: Boolean,
            value: false},
          Registrado:{
            type: Boolean}

          }
          }

        _user_idChanged(newValue, oldValue) {
        console.log("Cmambio id cliente");
        console.log("user_id_aux: " + this.user_id_aux);
        this.user_id = this.user_id_aux;
        console.log("user_id " + this.user_id);
        var logoutData = {
            "user_id": this.user_id
        };
        this.$.dologout.body = JSON.stringify(logoutData);
        this.$.dologout.generateRequest();
      }
        manageAJAXResponse(data){
          console.log("Respuesta recibida");
          this.correcto = true;
          this.incorrecto = false;
          this.Registrado = false;
          this.user_id = 0;
          this.user_id_aux = 0;
          }
        showError(error){
          console.log("Hubo un error ");
          console.log(error);
          this.correcto = false;
          this.incorrecto = true;
        }
        volverInicio(){
          console.log("volverInicio");
          this.correcto = false;
          this.incorrecto = false;
          this.dispatchEvent(new CustomEvent("volverainicio", {"detail":{"Registrado": this.Registrado}}));
        }
    }

    window.customElements.define(logoutApp.is, logoutApp);
  </script>
</dom-module>
