<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="login-app">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="card">
      <h2 align="center">Datos de usuario</h2>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" value="{{email::input}}">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" value="{{password::input}}">
      </div>
      <div class="form-group" align="center">
        <button class="btn btn-primary" on-click="login">Entrar</button>
      </div>
      </br>
      <span hidden$="{{!loggederr}}">Usuario y/o contraseña incorrecta</span>
    </div>
    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://samplebankback-samplebank.7e14.starter-us-west-2.openshiftapps.com/samplebank/v1/login/"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     console.log('Enrto en el js');

    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String},
          password: {
            type: String},
          logged: {
            type: Boolean,
            value: false},
          loggederr: {
            type: Boolean,
            value: false},
          lastName: {
            type: String},
          firstName:{
            type: String}
          }
          }


        login(){
        console.log("Botón login pulsado")
        var loginData = {
            "email": this.email,
            "password": this.password
        };

          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
          console.log("Petición enviada");
        }
        manageAJAXResponse(data){
          console.log("Respuesta recibida");
          console.log(data.detail.response);
          this.loggederr = false;
          this.email ="";
          this.password = "";
          this.lastName = data.detail.response.last_name;
          this.firstName = data.detail.response.first_name;
      /*    localStorage.useridStorage = data.detail.response.user_id; */

          this.dispatchEvent(new CustomEvent("logincorrecto", {"detail":{"user_id":data.detail.response.user_id,
                                                                   "user_id_aux":data.detail.response.user_id,
                                                                   "first_name":data.detail.response.first_name,
                                                                   "last_name":data.detail.response.last_name}}));
        }
        showError(error){
          console.log("Hubo un error ");
          console.log(error);
          this.logged = false;
          this.loggederr = true;
        }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
