<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="shared-styles.html">

<dom-module id="movimiento-cuenta-app">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <iron-ajax
      id="domovimientos"
      method="GET"
      url="http://samplebankbackconsultamovimientos-samplebank.7e14.starter-us-west-2.openshiftapps.com/samplebank/v1/account/movements/{{account_id}}"
      content-type="application/json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="card" align="center">
      <h2>Movimientos de la cuenta ES010821000002000000{{account_id}}</h2>
      </br>
      <span hidden$="{{!incorrecto}}">Error al buscar movimientos del cuenta</span>
      <table class="table table-striped">
        <thead align="center">
          <th>FECHA VALOR</th>
          <th>DESCRIPCION</th>
          <th>IMPORTE</th>
          <th>SALDO</th>
          <th>DESTINO TRANSFERENCIA</th>
          <th></th>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{movements}}">
            <tr>
              <td>{{item.value_date}}</td>
              <td>{{item.movement_type}}</td>
              <td align="right">{{item.amount}}</td>
              <td align="right">{{item.balance}}</td>
              <td>{{item.id_destination_account}}</td>
            </tr>
          </template>
        </tbody>
      </table>
      <div class="form-group">
        <paper-tabs selected="0" autoselect autoselect-delay="1000">
          <paper-tab on-click="altaMovimiento">ALTA MOVIMIENTO</paper-tab>
          <paper-tab on-click="altaTransferencia">ALTA TRANSFERENCIA</paper-tab>
          <paper-tab on-click="volverCuentas">VOLVER</paper-tab>
        </paper-tabs>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    console.log('Entro en movimientos cuenta');

    class movimientosApp extends Polymer.Element {
      static get is() { return 'movimiento-cuenta-app'; }
      static get properties() {
        return {
          account_id: {
            type: Number,
            observer: '_accountChanged'},
          account_id_aux: {
            type: Number,
            observer: '_accountChangedAux'},
          incorrecto: {
            type: Boolean,
            value: false},
          movements: {
            type: Array}
        }
      }


        _accountChanged(newValue, oldValue) {
          console.log("Cambio de cuenta");
          console.log('this.account_id_aux: ' + newValue);
          this.account_id = newValue;
          console.log('this.account_id: ' +newValue);
          this.movements = null;
          this.$.domovimientos.headers.account_id = this.account_id;
          console.log("this.$.domovimientos.headers.account_id" + this.$.domovimientos.headers.account_id);
          this.$.domovimientos.generateRequest();
        }

        _accountChangedAux(newValue, oldValue) {
          console.log("Refrescar cuenta");
          this.$.domovimientos.generateRequest();
        }

        manageAJAXResponse(data){
          console.log("Respuesta recibida");
          console.log(data.detail.response);
          this.incorrecto = false;
          var importeFormato = 0;
          for (var i=0; i <data.detail.response.length;i++){
            importeFormato = data.detail.response[i].amount.toLocaleString('es-ES', {minimumFractionDigits: 2});
            data.detail.response[i].amount = importeFormato;
            importeFormato = data.detail.response[i].balance.toLocaleString('es-ES', {minimumFractionDigits: 2});
            data.detail.response[i].balance = importeFormato;
          }
          this.movements = data.detail.response;
        }
        showError(error){
          console.log("Hubo un error ");
          console.log(error);
          this.incorrecto = true;
        }
        altaMovimiento(event){
          console.log("entro en altamovimiento");
          console.log('account_id ' + this.account_id);
          var account_id_aux = this.account_id;
          console.log('account_id_aux ' + account_id_aux);
          this.dispatchEvent(new CustomEvent("ealtamovimiento", {"detail":{"account_id": 0,
                                                                      "account_id_aux": account_id_aux,
                                                                      "user_id_aux" : this.user_id_aux,
                                                                      "user_id" : this.user_id
                                                                    }}))
        }
        altaTransferencia(event){
          console.log("entro en alta transferencia");
          console.log('account_id ' + this.account_id);
          var account_id_aux = this.account_id;
          console.log('account_id_aux ' + account_id_aux);
          this.dispatchEvent(new CustomEvent("ealtatransferencia", {"detail":{"account_id": 0,
                                                                      "account_id_aux": account_id_aux,
                                                                      "user_id_aux": this.user_id_aux,
                                                                      "user_id": this.user_id
                                                                    }}))
        }
        volverCuentas(event){
          console.log("entro en volverCuentas");
          console.log('account_id ' + this.account_id);
          var account_id_aux = this.account_id + 1;
          console.log('account_id_aux ' + account_id_aux);
          console.log('user_id ' + this.user_id);
          var user_id_aux = this.user_id_aux + 1;
          this.dispatchEvent(new CustomEvent("volvercuenta", {"detail":{"account_id": this.acccount_id,
                                                                      "account_id_aux": account_id_aux,
                                                                      "user_id_aux": user_id_aux,
                                                                      "user_id": this.user_id
                                                                    }}))
        }
    }

    window.customElements.define(movimientosApp.is, movimientosApp);
  </script>
</dom-module>
