<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-weather/paper-weather.html">
<link rel="import" href="shared-styles.html">

<dom-module id="tiempo-app">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="card">
      <h2 align="center">Predicción del tiempo</h2>
      <paper-weather card unit="c" location="{{ciudad}}"></paper-weather>
      </br>
      <div class="form-group">
        <label for="ciudad">Localización:</label>
        <input type="text" class="form-control" id="ciudad" value={{ciudad::input}}>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     console.log('Entro en tiempo');


    class tiempoApp extends Polymer.Element {
      static get is() { return 'tiempo-app'; }
      static get properties() {
        return {
          ciudad: {
            type: String,
            value: "Madrid"}
          }
        }
    }

    window.customElements.define(tiempoApp.is, tiempoApp);
  </script>
</dom-module>
